@tailwind preflight;

.breadcrumb-item:not(:last-child):after {
  content: "/";
}

.bg-brand-gradient{
    background-image: linear-gradient(to right, #450B54, #FB0C25);
}

.hover\:bg-brand-gradient:hover{
    background-image: none;
}

.bg-my-pattern{
	background-image: url("http://www.pedrozaarts.com/CaffSource/images/homePic.png");
}

.heroImage1{
	background-image: url("http://www.pedrozaarts.com/CaffSource/images/coffeePicThree.jpg");
}

.heroImage2{
	background-image: url("http://www.pedrozaarts.com/CaffSource/images/coffeePicFour.jpg");
}

.heroImage3{
	background-image: url("http://www.pedrozaarts.com/CaffSource/images/coffeeBeans.jpg");
}

.text-shadow{
	text-shadow: 2px 2px 8px #000000;
}

@tailwind utilities;